<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true" autoReload="true">
  <extensions>
    <add assembly="NLog.SlackTarget"/>
  </extensions>
  <targets>
    <target name="Slack" xsi:type="Slack"
            webhookUrl="https://hooks.slack.com/services/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"
            layout="${message}" />
    <target name="File" xsi:type="File"
            layout="${longdate}${newline}  [${level:uppercase=true}] - ${message}${newline}${newline}"
            fileName="${processDir}\Logs\${appdomain:format={1\}}-${hostname}.txt"
            archiveFileName="${processDir}\Logs\${appdomain:format={1\}}-${hostname}.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            keepFileOpen="true"
            concurrentWrites="true"
            encoding="utf-8"
            lineEnding="None" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Slack" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>